HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/api_gateway/mvnw
/api_gateway/mvnw.cmd
/api_gateway/target/
/api_gateway/.idea/
/api_gateway/.mvn/
/command_app_frontend/cliente/android/.gitignore
/command_app_frontend/cliente/ios/.gitignore
/command_app_frontend/cliente/linux/.gitignore
/command_app_frontend/cliente/macos/.gitignore
/command_app_frontend/cliente/windows/.gitignore
/command_app_frontend/gestore/android/.gitignore
/command_app_frontend/gestore/ios/.gitignore
/command_app_frontend/gestore/linux/.gitignore
/command_app_frontend/gestore/macos/.gitignore
/command_app_frontend/gestore/windows/.gitignore
/command_app_frontend/gestore/.gitignore
/command_app_frontend/cliente/.metadata
/command_app_frontend/gestore/.metadata
/command_app_frontend/gestore/analysis_options.yaml
/command_app_frontend/cliente/android/app/src/debug/AndroidManifest.xml
/command_app_frontend/cliente/android/app/src/main/AndroidManifest.xml
/command_app_frontend/cliente/android/app/src/profile/AndroidManifest.xml
/command_app_frontend/gestore/android/app/src/debug/AndroidManifest.xml
/command_app_frontend/gestore/android/app/src/main/AndroidManifest.xml
/command_app_frontend/gestore/android/app/src/profile/AndroidManifest.xml
/command_app_frontend/cliente/windows/runner/resources/app_icon.ico
/command_app_frontend/gestore/windows/runner/resources/app_icon.ico
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/command_app_frontend/cliente/ios/Runner/AppDelegate.swift
/command_app_frontend/cliente/macos/Runner/AppDelegate.swift
/command_app_frontend/gestore/ios/Runner/AppDelegate.swift
/command_app_frontend/gestore/macos/Runner/AppDelegate.swift
/command_app_frontend/cliente/ios/Flutter/AppFrameworkInfo.plist
/command_app_frontend/gestore/ios/Flutter/AppFrameworkInfo.plist
/command_app_frontend/cliente/macos/Runner/Configs/AppInfo.xcconfig
/command_app_frontend/gestore/macos/Runner/Configs/AppInfo.xcconfig
/command_app_frontend/cliente/android/app/build.gradle
/command_app_frontend/cliente/android/build.gradle
/command_app_frontend/gestore/android/app/build.gradle
/command_app_frontend/gestore/android/build.gradle
/command_app_frontend/cliente/linux/flutter/CMakeLists.txt
/command_app_frontend/cliente/linux/CMakeLists.txt
/command_app_frontend/cliente/windows/flutter/CMakeLists.txt
/command_app_frontend/cliente/windows/runner/CMakeLists.txt
/command_app_frontend/cliente/windows/CMakeLists.txt
/command_app_frontend/gestore/linux/flutter/CMakeLists.txt
/command_app_frontend/gestore/linux/CMakeLists.txt
/command_app_frontend/gestore/windows/flutter/CMakeLists.txt
/command_app_frontend/gestore/windows/runner/CMakeLists.txt
/command_app_frontend/gestore/windows/CMakeLists.txt
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/command_app_frontend/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/command_app_frontend/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/command_app_frontend/cliente/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/command_app_frontend/cliente/ios/Runner.xcworkspace/contents.xcworkspacedata
/command_app_frontend/cliente/macos/Runner.xcworkspace/contents.xcworkspacedata
/command_app_frontend/gestore/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/command_app_frontend/gestore/ios/Runner.xcworkspace/contents.xcworkspacedata
/command_app_frontend/gestore/macos/Runner.xcworkspace/contents.xcworkspacedata
/command_app_frontend/cliente/ios/Flutter/Debug.xcconfig
/command_app_frontend/cliente/macos/Runner/Configs/Debug.xcconfig
/command_app_frontend/gestore/ios/Flutter/Debug.xcconfig
/command_app_frontend/gestore/macos/Runner/Configs/Debug.xcconfig
/command_app_frontend/cliente/macos/Runner/DebugProfile.entitlements
/command_app_frontend/gestore/macos/Runner/DebugProfile.entitlements
/command_app_frontend/cliente/web/favicon.png
/command_app_frontend/gestore/web/favicon.png
/command_app_frontend/cliente/macos/Flutter/Flutter-Debug.xcconfig
/command_app_frontend/gestore/macos/Flutter/Flutter-Debug.xcconfig
/command_app_frontend/cliente/macos/Flutter/Flutter-Release.xcconfig
/command_app_frontend/gestore/macos/Flutter/Flutter-Release.xcconfig
/command_app_frontend/cliente/windows/runner/flutter_window.cpp
/command_app_frontend/gestore/windows/runner/flutter_window.cpp
/command_app_frontend/cliente/windows/runner/flutter_window.h
/command_app_frontend/gestore/windows/runner/flutter_window.h
/command_app_frontend/cliente/linux/flutter/generated_plugin_registrant.cc
/command_app_frontend/cliente/windows/flutter/generated_plugin_registrant.cc
/command_app_frontend/gestore/linux/flutter/generated_plugin_registrant.cc
/command_app_frontend/gestore/windows/flutter/generated_plugin_registrant.cc
/command_app_frontend/cliente/linux/flutter/generated_plugin_registrant.h
/command_app_frontend/cliente/windows/flutter/generated_plugin_registrant.h
/command_app_frontend/gestore/linux/flutter/generated_plugin_registrant.h
/command_app_frontend/gestore/windows/flutter/generated_plugin_registrant.h
/command_app_frontend/cliente/linux/flutter/generated_plugins.cmake
/command_app_frontend/cliente/windows/flutter/generated_plugins.cmake
/command_app_frontend/gestore/linux/flutter/generated_plugins.cmake
/command_app_frontend/gestore/windows/flutter/generated_plugins.cmake
/command_app_frontend/cliente/macos/Flutter/GeneratedPluginRegistrant.swift
/command_app_frontend/gestore/macos/Flutter/GeneratedPluginRegistrant.swift
/command_app_frontend/cliente/android/gradle.properties
/command_app_frontend/gestore/android/gradle.properties
/command_app_frontend/cliente/android/gradle/wrapper/gradle-wrapper.properties
/command_app_frontend/gestore/android/gradle/wrapper/gradle-wrapper.properties
/command_app_frontend/cliente/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/command_app_frontend/cliente/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/command_app_frontend/cliente/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/command_app_frontend/cliente/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/command_app_frontend/cliente/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/command_app_frontend/gestore/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/command_app_frontend/gestore/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/command_app_frontend/gestore/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/command_app_frontend/gestore/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/command_app_frontend/gestore/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/command_app_frontend/cliente/web/icons/Icon-192.png
/command_app_frontend/gestore/web/icons/Icon-192.png
/command_app_frontend/cliente/web/icons/Icon-512.png
/command_app_frontend/gestore/web/icons/Icon-512.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/command_app_frontend/cliente/web/icons/Icon-maskable-192.png
/command_app_frontend/gestore/web/icons/Icon-maskable-192.png
/command_app_frontend/cliente/web/icons/Icon-maskable-512.png
/command_app_frontend/gestore/web/icons/Icon-maskable-512.png
/command_app_frontend/cliente/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/cliente/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/cliente/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/cliente/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/gestore/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/gestore/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/gestore/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/gestore/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/command_app_frontend/cliente/web/index.html
/command_app_frontend/gestore/web/index.html
/command_app_frontend/cliente/ios/Runner/Info.plist
/command_app_frontend/cliente/macos/Runner/Info.plist
/command_app_frontend/gestore/ios/Runner/Info.plist
/command_app_frontend/gestore/macos/Runner/Info.plist
/command_app_frontend/cliente/android/app/src/main/res/drawable/launch_background.xml
/command_app_frontend/cliente/android/app/src/main/res/drawable-v21/launch_background.xml
/command_app_frontend/gestore/android/app/src/main/res/drawable/launch_background.xml
/command_app_frontend/gestore/android/app/src/main/res/drawable-v21/launch_background.xml
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/command_app_frontend/cliente/ios/Runner/Base.lproj/LaunchScreen.storyboard
/command_app_frontend/gestore/ios/Runner/Base.lproj/LaunchScreen.storyboard
/command_app_frontend/cliente/linux/main.cc
/command_app_frontend/gestore/linux/main.cc
/command_app_frontend/cliente/windows/runner/main.cpp
/command_app_frontend/gestore/windows/runner/main.cpp
/command_app_frontend/cliente/ios/Runner/Base.lproj/Main.storyboard
/command_app_frontend/gestore/ios/Runner/Base.lproj/Main.storyboard
/command_app_frontend/cliente/android/app/src/main/kotlin/com/example/cliente/MainActivity.kt
/command_app_frontend/gestore/android/app/src/main/kotlin/com/example/gestore/MainActivity.kt
/command_app_frontend/cliente/macos/Runner/MainFlutterWindow.swift
/command_app_frontend/gestore/macos/Runner/MainFlutterWindow.swift
/command_app_frontend/cliente/macos/Runner/Base.lproj/MainMenu.xib
/command_app_frontend/gestore/macos/Runner/Base.lproj/MainMenu.xib
/command_app_frontend/cliente/web/manifest.json
/command_app_frontend/gestore/web/manifest.json
/command_app_frontend/cliente/linux/my_application.cc
/command_app_frontend/gestore/linux/my_application.cc
/command_app_frontend/cliente/linux/my_application.h
/command_app_frontend/gestore/linux/my_application.h
/command_app_frontend/cliente/ios/Runner.xcodeproj/project.pbxproj
/command_app_frontend/cliente/macos/Runner.xcodeproj/project.pbxproj
/command_app_frontend/gestore/ios/Runner.xcodeproj/project.pbxproj
/command_app_frontend/gestore/macos/Runner.xcodeproj/project.pbxproj
/command_app_frontend/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/command_app_frontend/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/command_app_frontend/gestore/README.md
/command_app_frontend/cliente/macos/Runner/Release.entitlements
/command_app_frontend/gestore/macos/Runner/Release.entitlements
/command_app_frontend/cliente/ios/Flutter/Release.xcconfig
/command_app_frontend/cliente/macos/Runner/Configs/Release.xcconfig
/command_app_frontend/gestore/ios/Flutter/Release.xcconfig
/command_app_frontend/gestore/macos/Runner/Configs/Release.xcconfig
/command_app_frontend/cliente/windows/runner/resource.h
/command_app_frontend/gestore/windows/runner/resource.h
/command_app_frontend/cliente/windows/runner/runner.exe.manifest
/command_app_frontend/gestore/windows/runner/runner.exe.manifest
/command_app_frontend/cliente/windows/runner/Runner.rc
/command_app_frontend/gestore/windows/runner/Runner.rc
/command_app_frontend/cliente/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/command_app_frontend/cliente/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/command_app_frontend/gestore/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/command_app_frontend/gestore/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/command_app_frontend/cliente/ios/Runner/Runner-Bridging-Header.h
/command_app_frontend/gestore/ios/Runner/Runner-Bridging-Header.h
/command_app_frontend/cliente/android/settings.gradle
/command_app_frontend/gestore/android/settings.gradle
/command_app_frontend/cliente/android/app/src/main/res/values/styles.xml
/command_app_frontend/cliente/android/app/src/main/res/values-night/styles.xml
/command_app_frontend/gestore/android/app/src/main/res/values/styles.xml
/command_app_frontend/gestore/android/app/src/main/res/values-night/styles.xml
/command_app_frontend/cliente/windows/runner/utils.cpp
/command_app_frontend/gestore/windows/runner/utils.cpp
/command_app_frontend/cliente/windows/runner/utils.h
/command_app_frontend/gestore/windows/runner/utils.h
/command_app_frontend/cliente/macos/Runner/Configs/Warnings.xcconfig
/command_app_frontend/gestore/macos/Runner/Configs/Warnings.xcconfig
/command_app_frontend/cliente/test/widget_test.dart
/command_app_frontend/gestore/test/widget_test.dart
/command_app_frontend/cliente/windows/runner/win32_window.cpp
/command_app_frontend/gestore/windows/runner/win32_window.cpp
/command_app_frontend/cliente/windows/runner/win32_window.h
/command_app_frontend/gestore/windows/runner/win32_window.h
/command_app_frontend/cliente/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/command_app_frontend/cliente/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/command_app_frontend/gestore/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/command_app_frontend/gestore/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/command_app_frontend/
